html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    text-align: center;
    color: white;
}
body{
    text-align: center;
    background-color: #4513f6;

}
#leftdiv{
    float: left;
    width: 75%;
    background-color: white;
    height: 100vh;
}
#rightdiv{
    float: right;
    width: 25%;
    background-color: black;
    height: 100vh;
}
