:root {
    --gradient-angle: 135deg;
    --gradient-start: #667eea;
    --gradient-end: #764ba2;
  }
   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(var(--gradient-angle), var(--gradient-start), var(--gradient-end));
    letter-spacing: 2px;
  }
  
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100wv;
}

  .panel{
    height: 70%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 0.5px;

  }

  h1{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .panel input{
    border: none;
    border-bottom: 1px solid  white;
    height: 5%;
    width: 60%;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 1px;
  }

  .panel button{
    background: rgba(0,0,0, 0);
    border-radius: 5px;
    height: 8%;
    width: 20%;
    font-size: 15px;
    margin-top: 20px;
    border: solid white 0.5px;
  }

  .panel span{
    margin-top: -20px;
    font-size: 15px;
  }

  .panel button:hover{
    background: rgba(0,0,0, 0.25);
  }

  .panel input:hover{
    background: rgba(0,0,0, 0.25);
  }




  
